body{
  background-color:mintcream;
}
.green{
  color:yellowgreen;
}
#header{
  font-family: Ariel, sans-serif;
  height: 45pt;
  min-height: 45pt;
  max-height: 45pt;
  width: 450px;
  padding: 50pt 10pt 50pt 200pt;
  text-align: center;
  font-size: 18pt;
  color: white;
}
#sidebar{
  margin: 1px 190px 20px 10px;
  float: right;
  padding: 28px;
  border: 300px;
  background-color: white;
  height: 100px;
  width: 100px;
  font-family: Ariel, sans-serif;
  text-decoration: none;
  text-align: right;
  color:
}
#sidebar ul li{
  list-style-type: none;
  display: inline;
}
a:link{
  color: darkgrey;
}
a:visited{
  color:#00FF00;
} 
a:hover{
  color:#FF00FF;
}
a:active{
  color:#0000FF;
}
#content{
  float: center;
  width: 500px;
  margin: auto;
  padding: 40pt;
  text-align: left;
  background-color: white;
  font-family: Arial,Helvetica,sans-serif;
  color: slategrey;
  font-size: 12pt;
}
.image { 
   position: relative; 
   width: 100%;
}
h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
   color: white;
   font-size: 18px;
}
#footer{
  margin: 10px 10px 10px 170px;
  padding:10px 10px 10px 200px;
  text-align: left;
  font-size: 8pt;
  font-family: Ariel, sans-serif;
  color: white;
}
