body{
  /* background-image: url('http://subtlepatterns.com/patterns/geometry.png'); */
  background: white;
  font-family: "Open Sans", Ariel, sans-serif;
  font-weight: 300;
  /* background: white; */
  color: #4e5a65;
  border-top: 1px solid #ededee;
  text-decoration:none; 
}
header{
  width: 70em;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  background-color: transparent;
  font-family: "Hevletica Neue", Ariel, sans-serif;
  list-style-type: none;
  text-transform: uppercase;
}
header ul li{
  letter-spacing: 4px;
  font-size: 16px;
  list-style: none;
  display: inline;
  padding: 3%;
}
header a:link{
  color: #bfff00;
  text-decoration:none;
}
header a:visited{
  color:#bfff00;
  text-decoration:none;
} 
header a:hover{
  color: #1d2700;
  text-decoration: none;
}
header a:active{
  color:#bfff00;
  text-decoration:none;
}
section{
  border-bottom: 1px solid #f7f7f7;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
/*  DO NOT PUT A WIDTH = Will lose section line division */
}
section img{
  margin-right: auto;
  margin-left: auto;
  width: 30%%;
  display: block;
}
.listing{
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  width: 53%%;
  display: block;
}
#listingImage{
  float: left;
/*  border: 5px dashed red;*/
  margin-left: 15em;
  margin-right: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
  width: 14em;
}
section p, section h6, section h2,
section ul{
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  width: 53%%;
  display: block;
}/* Need to figure out how to CSS select for links 
embedded in text so that the do not have a width!! */
h1{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-weight: 700;
  color: #4e5a65;
  text-align: center;
  width: 80%;
}
h2{  
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  font-weight: 700;
  color: #4e5a65;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: left;
  width: 45%;
}
h3{  
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  font-weight: 700;
  color: #4e5a65;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: left;
  width: 100%;
}
h4{
  font-family: 'Hevletica Neue', Ariel, sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-top: 1em;
  margin-bottom:0;
  text-align: left;
  color: #4e5a65;
  margin-right: auto;
  margin-left: auto;
  width: 53%;
}
h6{
  font-family: "Open Sans", Ariel, sans-serif;
  font-size: 12px;
  font-weight: 200;
  margin-top: 1em;
  margin-bottom:0;
  text-transform: uppercase;
  text-align: left;
  color: gray;
}
ol li, ol, ul, ul li{
  font-family: "Open Sans", Ariel, sans-serif;
  font-size: 16px;
  font-weight: 200; 
  color: #4e5a65;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  width: 65%;
  text-align: left;
}
a:link{
  color: #4e5a65;
  text-decoration:none;
}
a:visited{
  color: #4e5a65;
  text-decoration:none;
} 
a:hover{
  color: #ddff76;
  text-decoration: none; 
}
a:active{
  color: black;
  text-decoration:none;  
}
.circular {
  margin-left: auto;
  margin-right: auto;
  width: 310px;
  height: 300px;
  border-radius: 300px;
  background: url(https://lh3.googleusercontent.com/-GgCX8-b0teQ/AAAAAAAAAAI/AAAAAAAAAAA/1uZWoOQlnJI/photo.jpg) no-repeat;
}
#content{
  background-color: transparent;
  font-size: 16px;
  text-decoration:none; 
}
footer{
  width:15em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  font-size: 8pt;
  font-family: Ariel, sans-serif;
  color: black;
}
/* <------ Icon Fonts ------> */
i {
  color: #c4c4c4;
  float: right;
  display: inline;
  padding: .6em; 
}
#opening-image img{
   border-top: 1px solid #f7f7f7;
   height: 420px;
   overflow: hidden;
   padding: 0px;
   width: 100%;
   opacity: 0.95;
   filter: alpha(opacity=95); /* For IE8 and earlier */
}
.animation{
  width: 310px;
  height: 300px;
  border-radius: 300px;
  padding: 100px;
  border: 100px;
  background: url(https://lh3.googleusercontent.com/-GgCX8-b0teQ/AAAAAAAAAAI/AAAAAAAAAAA/1uZWoOQlnJI/photo.jpg);
/*  background-color:rgba(0, 0, 0, 0.9);
  opacity: 0.95;*/
  margin: 0 auto; 
  position: absolute; 
  left: 0; 
  right: 0;
  
  /* 
  shorthand would be 
  -webkit-animation: gif 1s steps(17,start) 1.5s 1 forwards; 
  but that does not work with safari. safari
  */
  
  -webkit-animation-name: gif;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function: steps(17,start);
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;

  -moz-animation: gif 1s steps(17,start) 1.5s 1 forwards;
  -ms-animation: gif 1s steps(17,start) 1.5s 1 forwards;
  -o-animation: gif 1s steps(17,start) 1.5s 1 forwards;
  animation: gif 1s steps(17,start) 1.5s 1 forwards;
}
  
  @-webkit-keyframes gif{
  0% {background-position: -5270px}
  100% {background-position: 0}
  }

  @-moz-keyframes gif{
  from{background-position: -5270px}
  to{background-position: 0}
  }

  @-ms-keyframes gif{
  from{background-position: -5270px}
  to{background-position: 0}
  }

  @-o-keyframes gif{
  from{background-position: -5270px}
  to{background-position: 0}
  }

  @keyframes gif{
  from{background-position: -5270px}
  to{background-position: 0}
  }
