body{
  background-color: white;
}
header{
  left: 81px;
  top: 81px;
  display: inline;
  position: fixed;
  z-index: 100;
  letter-spacing: 4px;
  background-color: transparent;
  font-family: Ariel, sans-serif;
  list-style-type: none;
  text-transform: uppercase;
  margin: 0;
  padding: 40px;
}
header ul li.logo{
  margin-right: 95px;
}
header ul li{
  margin-right: 44px;
  float: left;
  list-style: none;
  font-size: 14px;
}
h1{
  font-family: "Open Sans", Ariel, sans-serif;
  letter-spacing: 4px;
  font-size: 14px;
}
h2{  
  font-family: "Open Sans", Ariel, sans-serif;
  letter-spacing: 4px;
  font-size: 14px;
}
h4{
  font-family: "Open Sans", Ariel, sans-serif;
  letter-spacing: 4px;
  font-size: 16px;
}
a:link{
  color: #bfff00;
  text-decoration:none;
}
a:visited{
  color:#bfff00;
  text-decoration:none;
} 
a:hover{
  color: #bfff00;
  text-decoration: none;
}
a:active{
  color:#bfff00;
  text-decoration:none;
}
.circular {
    position: absolute;
    float: right;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(https://lh3.googleusercontent.com/-GgCX8-b0teQ/AAAAAAAAAAI/AAAAAAAAAAA/1uZWoOQlnJI/photo.jpg) no-repeat;
}
#content{
  background-color: transparent;
  position: relative;
  float: center;
  width: 40%;
  margin: auto;
  padding: 190px;
  text-align: left;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: slategrey;
  font-size: 12pt;
}
footer{
  margin: 1em;
  padding: 1.5em;
  position: relative;
  float:center;
  font-size: 8pt;
  font-family: Ariel, sans-serif;
  color: #bfff00;
}
