body{
  background-color: white;
  font-family: "Open Sans", Ariel, sans-serif;
  font-size: 14px;
  font-weight: 300; 
}
header{
  left: 81px;
  top: 81px;
  display: inline;
  position: fixed;
  z-index: 100;
  letter-spacing: 4px;
  background-color: transparent;
  font-family: "Open Sans", Ariel, sans-serif;
  list-style-type: none;
  text-transform: uppercase;
  margin: 0;
  padding: 40px;
}
header ul li{
  margin-right: 95px;
  font-size:14px;
}
header ul li{
  margin-right: 44px;
  float: left;
  list-style: none;
  font-size: 14px;
}
header a:link{
  color: #bfff00;
  text-decoration:none;
}
header a:visited{
  color:#bfff00;
  text-decoration:none;
} 
header a:hover{
  color: #1d2700;
  text-decoration: none;
}
header a:active{
  color:#bfff00;
  text-decoration:none;
}
h1{
  font-family: "Open Sans", Ariel, sans-serif;
  letter-spacing: 4px;
  font-size: 18px;
  margin-bottom:0;
  font-weight: 400;
}
h2{  
  font-family: "Open Sans", Ariel, sans-serif;
  letter-spacing: 4px;
  font-size: 19px;
  font-weight: 300;
  margin-bottom:0;
}
h4{
  font-family: "Open Sans", Ariel, sans-serif;
  font-size: 16px;
  font-weight: 300;
}
h6{
  font-family: "Open Sans", Ariel, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style:italic;
  margin-top:0;
  margin-bottom:0;
}
p{
  font-family: "Open Sans", Ariel, sans-serif;
    font-size: 14px;
    font-weight: 300; 
}
ul li{
    font-family: "Open Sans", Ariel, sans-serif;
    font-size: 14px;
    font-weight: 300; 
}
ol li{
    font-family: "Open Sans", Ariel, sans-serif;
    font-size: 14px;
    font-weight: 300; 
}
ol{
    font-family: "Open Sans", Ariel, sans-serif;
    font-size: 14px;
    font-weight: 300; 
}
ul{
    font-family: "Open Sans", Ariel, sans-serif;
    font-size: 14px;
    font-weight: 300; 
}
a:link{
  color: #bfff00;
  text-decoration:none;
}
a:visited{
  color: #bfff00;
  text-decoration:none;
} 
a:hover{
  color: #1d2700;
  text-decoration: none;
}
a:active{
  color: black;
  text-decoration:none;
}
.circular {
    position: fixed;
    float: right;
  width: 315px;
  height: 315px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(https://lh3.googleusercontent.com/-GgCX8-b0teQ/AAAAAAAAAAI/AAAAAAAAAAA/1uZWoOQlnJI/photo.jpg) no-repeat;
}
#content{
  background-color: transparent;
  position: relative;
  float: center;
  width: 36%;
  margin: auto;
  padding: 200px;
  text-align: left;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: black;
  font-size: 15px;
  letter-spacing: 2px;
}
footer{
  margin: 1em;
  padding: 1.5em;
  position: relative;
  float:center;
  font-size: 8pt;
  font-family: Ariel, sans-serif;
  color: #bfff00;
}
