body{
  /* background-image: url('http://subtlepatterns.com/patterns/geometry.png'); */
  background: white;
  font-family: "Open Sans", Ariel, sans-serif;
  /* background: white; */
  font-size: 14px;
  font-weight: 300; 
  color: #4e5a65;
  border-top: 1px solid #ededee;
}
header{
  width: 50em;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  background-color: transparent;
  font-family: "Hevletica Neue", Ariel, sans-serif;
  list-style-type: none;
  text-transform: uppercase;
}
header ul li{
  letter-spacing: 4px;
  font-size: 16px;
  list-style: none;
  display: inline;
  padding: 3%;
}
header a:link{
  color: #bfff00;
  text-decoration:none;
}
header a:visited{
  color:#bfff00;
  text-decoration:none;
} 
header a:hover{
  color: #1d2700;
  text-decoration: none;
}
header a:active{
  color:#bfff00;
  text-decoration:none;
}
section{
  border-bottom: 2px solid #f7f7f7;
  padding: 10px;
}
section p{
  text-align: left;
  font-family: 'Open Sans', Ariel, sans-serif;
  color: #4e5a65;
  padding: 20px;
}
h1{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-size: 27px;
  margin-top:30px;
  margin-bottom:0;
  font-weight: 700;
  color: #4e5a65;
  text-align: left;
}
h2{  
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  font-weight: 700;
  color: #4e5a65;
  margin-top:30px;
  margin-bottom:0;
  text-align: left;
}
h4{
  font-family: 'Hevletica Neue', Ariel, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 1em;
  margin-bottom:0;
  text-align: left;
  color: #4e5a65;
}
h6{
  font-family: "Open Sans", Ariel, sans-serif;
  font-size: 12px;
  font-weight: 200;
  margin-top: 1em;
  margin-bottom:0;
  text-transform: uppercase;
  text-align: left;
  color: gray;
}
p, ol li, ol, ul, ul li{
  font-family: "Open Sans", Ariel, sans-serif;
  font-size: 14px;
  font-weight: 200; 
  color: #4e5a65;
}
a:link{
  color: #4e5a65;
  text-decoration:none;
}
a:visited{
  color: #4e5a65;
  text-decoration:none;
} 
a:hover{
  color: #ddff76;
  text-decoration: none; 
}
a:active{
  color: black;
  text-decoration:none;  
}
.circular {
  margin-left: auto;
  margin-right: auto;
  width: 315px;
  height: 330px;
  border-radius: 300px;
  background: url(https://lh3.googleusercontent.com/-GgCX8-b0teQ/AAAAAAAAAAI/AAAAAAAAAAA/1uZWoOQlnJI/photo.jpg) no-repeat;
}
#content{
  background-color: transparent;
  font-size: 15px;
  letter-spacing: 2px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}
footer{
  width:15em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  font-size: 8pt;
  font-family: Ariel, sans-serif;
  color: black;
}
i {
  color: #c4c4c4;
  float: right;
  display: inline;
  padding: .6em; 
}
